body {
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.header-content,
section,
footer {
  max-width: 87.5rem;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 1rem;
}

/* header styles */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fafaf9;
  z-index: 1000;
  padding: 1.5rem 1rem;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

/* <Cart /> */
.header-content > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-right: 0.8rem;
}

.cart-num {
  position: absolute;
  top: -10px;
  right: -5px;
  color: #030615;
  /* font-family: "Grenze", serif; */
  width: 1.2rem;
  display: flex;
  justify-content: flex-start;
}

.cart-num p {
  /* font-family: "Grenze", serif; */
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.header-content h2 {
  padding: 0 0.5rem;
  /* background: #030615; */
  background: #292524;
  color: #fafaf9;
}

.header-content a {
  text-decoration: none;
}

.header-content i {
  font-size: 1.4rem;
  color: var(--color-primary);
}

/* middle text hidden for mobile screens */
.mid-text {
  display: none;
}

/* main app */

.banner-images {
  /* width: 100%; */
  min-height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.low-res-img,
.high-res-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  flex: 1;
  object-position: center;
  border-radius: 0;
  max-width: unset;
}

.high-res-img {
  position: absolute;
  inset: 0;
  transition-duration: 200ms;
  z-index: 4;
}

.cta-btns-container {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-btns-container h1 {
  font-size: 2rem;
}

.cta-btns-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 2rem;
  background: #fafaf9;
}

.cta-btns-container > div div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.cta-btns-container > div div:last-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main,
.section-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-header,
.sticker-header,
.icon-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.section-header {
  margin: 1rem auto;
  margin-top: 5rem;
  scroll-margin-top: 8rem;
}

.template-container {
  margin: 2rem 0;
}

.planner-container,
.template-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
  position: relative;
}

.planner-container > div:first-of-type,
.template-card > div:first-of-type {
  position: relative;
}

.planner-container > div:first-of-type img,
.template-card > div:first-of-type img {
  position: sticky;
  top: 6rem;
}

/* .template-card button {
  margin-bottom: 1rem;
} */

/* .template-card img {
  width: 60%;
} */

.template-card div:first-of-type button {
  width: 60%;
  /* height: 600px; */
  margin: 0 auto 1rem;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: block;
}

/* .template-card div:first-of-type button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
} */

.purchase-btns {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planner-info,
.template-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.template-info p span {
  font-size: 0.8rem;
  background: #fb718580;
  padding: 0.2rem 0.4rem;
  vertical-align: top;
}

.template-info p {
  text-wrap: pretty;
}

.planner-header,
.template-header {
  padding-top: 0.5rem;
}

.planner-info h3,
.template-info h3 {
  font-size: 1.6rem;
}

.planner-info h3 span,
.template-info h3 span {
  font-size: 1rem;
  padding-right: 0.1rem;
}

.sticker-container,
.icon-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.sticker-card,
.sticker-info,
.icon-card,
.icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-card img {
  width: 40%;
}

.sticker-info,
.icon-info {
  gap: 1rem;
  padding: 1rem;
}

.icon-info p span {
  font-size: 0.6rem;
  background: #fb718580;
  padding: 0.2rem 0.4rem;
  vertical-align: top;
}
.sticker-info h4,
.icon-info h4 {
  font-size: 1.2rem;
}

.sticker-info h4 span,
.icon-info h4 span {
  font-size: 0.9rem;
  padding-right: 0.1rem;
}

/* cart styles */

.cart-section {
  max-width: 50rem;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1rem;
}

.cart-item {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.cart-item img {
  width: 30%;
  /* height: fit-content; */
  height: auto;
  object-fit: contain;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-info input {
  width: 6.25rem;
}

.total {
  text-align: right;
}

.checkout-container {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* footer styles */

.hr {
  height: 1px;
  background: var(--border-primary);
}

footer {
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email-container div input {
  width: 100%;
  max-width: unset;
  flex: 1;
}

.email-container div button {
  height: 100%;
  padding: 0.25rem 1rem;
  white-space: nowrap;
}

footer .links-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

footer .links-container > div {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-width: 8.75rem;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-links i {
  font-size: 2rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 8rem 0;
}

.page-container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.scroll-top-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 50%;
  border: none;
  background: var(--background-primary);
  color: var(--color-primary);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 50;
}
.scroll-top-btn i {
  background-color: transparent;
}

.scroll-top-btn.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* portal overlay */

.portal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.portal-underlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.7;
  background: #030615;
  border: none;
  padding: none;
}

.portal-content {
  position: absolute;
  pointer-events: none;
  z-index: 1005;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 85vmin;
  height: 85vmin;
  display: grid;
  place-items: center;
}

.img-button {
  height: fit-content;
  width: fit-content;
  padding: 0;
  border: none;
  box-shadow: none;
  cursor: zoom-in;
  border-radius: none;
}

.img-button:hover {
  transform: none;
  box-shadow: none;
}

/* break points */

@media (min-width: 640px) {
  .header-content {
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    grid-template-columns: 2fr 3fr 1fr;
  }

  .mid-text {
    display: block;
    margin: 0 auto;
  }

  .header-content i {
    font-size: 1.8rem;
  }

  .cta-btns-container h1 {
    font-size: 3rem;
  }

  .cta-btns-container > div div:last-of-type {
    gap: 2rem;
    padding: 1rem;
  }

  .cta-btns-container button {
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
  }

  .section-header {
    margin: 4rem auto 3rem auto;
  }

  .sticker-container,
  .icon-container {
    gap: 2rem 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .cart-item {
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .sticker-container,
  .icon-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  .email-container {
    padding-right: 4rem;
  }

  .socials {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .planner-container,
  .template-card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }

  .template-card div:first-of-type button {
    width: 90%;
    height: 400px;
    padding: 0;
    margin: 0 auto;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: block;
  }

  .template-card div:first-of-type button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .sticker-container,
  .icon-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  footer .links-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .portal-content {
    width: 70vmin;
  }
}
